@import "prev";
@import "line-slider";

.products-prev__wrapper {
    display: flex;
    flex-wrap: wrap;
    & > * {
        flex: auto;
        margin-right: 30px;
        margin-bottom: 30px;
        min-width: 20%;
        max-width: calc(26% - 30px);
        @media screen and (max-width: $tablet) {
            min-width: 30%;
            max-width: calc(34% - 30px);
        }
        @media screen and (max-width: $phone) {
            flex: 0 0 100%;
            margin-right: 0;
            max-width: 100%;
        }
        &:nth-child(4n+4) {
            margin-right: 0;
            @media screen and (max-width: $tablet) {
                margin-right: 30px;
            }
        }
        &:nth-child(4n+4) {
            @media screen and (max-width: $tablet) {
                margin-right: 0;
            }
        }
    }
}