.products-line-slider
    .js-products-line-slider
        include ../../../modules/products/prev1
        include ../../../modules/products/prev2
        include ../../../modules/products/prev3
        include ../../../modules/products/prev4
    .products-line-slider__navigation
        .products-line-slider__btn.products-line-slider__btn--prev
            +icon('arrowtoleft','products-line-slider__icon')
        .products-line-slider__dots
        .products-line-slider__btn.products-line-slider__btn--next
            +icon('arrowtoright','products-line-slider__icon')