@import "mobile-user-nav";

.main-nav {
    &__list {
        align-items: center;
        display: flex;
        position: relative;
    }
    &__item {
        margin-right: 40px;
        &:last-child {margin-right: 0;}
        &:hover {
            .main-nav {
                &__link {
                    border-bottom: 2px solid $blaze-orange;
                }
                &__dropdown-wrapper {
                    display: block;
                }
            }
        }
    }
    &__link {
        align-items: center;
        border-bottom: 2px solid transparent;
        color: $tundora;
        display: flex;
        padding: 15px 0;
        font-size: 16px;
        line-height: 1.88;
        font-weight: 600;
    }
    &__dropdown {
        background-color: #fff;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.05);
        display: inline-flex;
        padding-top: 10px;
        left: 0;
        &-wrapper {
            display: none;
            left: 0;
            position: absolute;
            top: 100%;
            width: 100%;
            z-index: 5;
        }
    }
    &__icon {
        fill: $tundora;
        height: 12px;
        margin-left: 10px;
        width: 12px;
    }
}
.catalog-nav {
    &__list {
        background-color: $white;
        position: relative;
        .catalog-nav__list {
            display: none;
            position: absolute;
            top: 0;
            left: 360px;      
        }
    }
    &__item {
        width: 360px;
        @media screen and (max-width: $tablet) {
            width: auto;
        }
        &:hover {
            & > .catalog-nav__link {
                background-color: $athens-gray;
                color: $blaze-orange;
            }
            .catalog-nav__icon {
                fill: $blaze-orange;
            }
            .catalog-nav__list {
                display: block;
            }
        }
    }
    &__link {
        color: $main-shaft;
        display: flex;
        align-items: center;
        padding: 10px;
        line-height: 20px;
        width: 360px;
        &:hover {
            background-color: $athens-gray;
            color: $blaze-orange;
            .catalog-nav__icon {
                fill: $blaze-orange;
            }
        }
    }
    &__icon {
        margin-left: auto;
        fill: $silver;
        height: 12px;
        width: 8px;
    }
}
