extends layout/main

block variables
    -var title = 'Беговелы'
    -var pageClass = 'brands-page'

block content
    .breadcrumbs
        .container
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a(href="index.html").breadcrumbs__link Главная
                li.breadcrumbs__item
                    a(href="index.html").breadcrumbs__link Каталог
                li.breadcrumbs__item
                    span.breadcrumbs__current Беговелы
    include pages/category/slider
    .category
        .container
            .category__header
                h1.title-page Беговелы
                .filter-mobile__toggle
                    span Фильтры
                    +icon('arrowtoright','filter-mobile__toggle-icon')
                .category__sort
                    .select
                        .select__header.select__header--multi
                            span.select__description Сортировать по
                            span.select__current популярности
                            +icon('arrowbottom','select__icon')
                        .select__body
                            ul.select-list
                                li.select-list__item цене
                                li.select-list__item рейтингу
                                li.select-list__item популярности
            .category__body
                aside.filter.category__filter
                    .filter-mobile__close
                        +icon('arrowtoleft','filter-mobile__close-icon')
                    include pages/category/filter
                main.category-main
                    section.s-category-main
                        .products-prev__wrapper.products-prev__wrapper--small
                            include modules/products/prev1
                            include modules/products/prev2
                            include modules/products/prev3
                            include modules/products/prev4                        
                            include modules/products/prev1
                            include modules/products/prev2
                            include modules/products/prev3
                            include modules/products/prev4
                        include modules/pagination/pagination
                    include pages/category/content