extends layout/main

block variables
    -var title = 'Гарантии'
    -var pageClass = 'static-page'

block content
    .breadcrumbs
        .container
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a(href="index.html").breadcrumbs__link Главная
                li.breadcrumbs__item
                    span.breadcrumbs__current Гарантии
    section.s-static-page
        .container
            h1.title-page Гарантии
            .content-block
                p.text Интернет-магазин Baby-Toys работает более 10 лет. Мы предлагаем оригинальные товары от всемирно известных производителей Micro, Puky, HUDORA, Globber, Stiga и др., работаем только с официальными представителями производителей. Качество подтверждается документами и сертификатами. Все реквизиты и адреса указаны в разделе «Контакты», консультанты готовы ответить на ваши вопросы по телефону.
                p.text На весь ассортимент брендов Micro, Puky и Globber действует гарантия 2 года со дня покупки, HUDORA – 1 год, остальные товары – 6 месяцев. При обнаружении заводского брака, дефектов, обязательно обращайтесь к нам. Мы проверим информацию и произведем замену или возврат.
                p.text Обратите внимание! Если дефект возник в ходе эксплуатации, при неправильном обращении с техникой, если покупатель не выполнил требования производителя, данный случай не является гарантийным!
                p.text Возврат товаров надлежащего качества (при наличии чека, без следов эксплуатации) осуществляется, в соответствии с законодательством, в течение 7 дней со дня покупки.
                br
            include pages/index/advantages