ul
    li
        a(href="index.html") Главная
    li
        a(href="brands.html") Все бренды
    li
        a(href="search-result.html") Результаты поиска
    li
        a(href="static-page.html") О компании
    li
        a(href="category.html") Беговелы