extends layout/main

block variables
    -var title = 'Оптовикам'
    -var pageClass = 'static-page'

block content
    .breadcrumbs
        .container
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a(href="index.html").breadcrumbs__link Главная
                li.breadcrumbs__item
                    span.breadcrumbs__current Оптовикам
    section.s-static-page
        .container
            h1.title-page Оптовикам
            .content-block
                p.text Уважаемые поставщики, наш сайт открыт для размещения Ваших товаров, мы открыты для сотрудничества по всем категориям.
                p.text Предложения присылайте на email - <a href="mailto:opt@baby-toys.ru">opt@baby-toys.ru</a>
            include pages/index/advantages