// Colors
$white: #fff;
$black: #000;

$alto: #dddddd;
$main-shaft: #262626;
$silver: #cccccc;
$athens-gray: #eef2f4;
$tundora: #4b4b4b;
$wild-sand: #f6f6f6;
$silver-chalice: #a9a9a9;

$blaze-orange: #ff6000;

$placeholder-color: #a6a6a6;

// Sizes
$base-font-size: 16px;

$tablet: 768;
$large: 1024;
$desktop: 1280;

$content: 1140px;

// Fonts
