// Colors
$white: #fff;
$black: #000;

$alto: #dddddd;
$main-shaft: #262626;
$dusty-gray: #999999;
$oslo-gray: #939495;
$silver: #cccccc;
$parcelain: #f6f8f9;
$athens-gray: #eef2f4;
$tundora: #4b4b4b;
$mid-gray: #6e6e6f;
$wild-sand: #f6f6f6;
$silver-chalice: #a9a9a9;

$blaze-orange: #ff6000;

$chelsea-cucumber: #8eb359;

$placeholder-color: #a6a6a6;

// Sizes
$base-font-size: 14px;

$tablet: 1139px;
$phone: 767px;
$phone-small: 400px;

$content: 1140px;

// Fonts
