.main-nav__dropdown-wrapper
    .main-nav__dropdown
            ul.main-subnav__list
                li.main-subnav__item
                    a(href="").main-subnav__link
                        span.main-subnav__text Детские
                        +icon('arrowtoright','main-subnav__icon')
                    ul.main-subnav__list
                        li.main-subnav__item
                            a(href="").main-subnav__link
                                span.main-subnav__text Квады
                        li.main-subnav__item
                            a(href="").main-subnav__link
                                span.main-subnav__text Раздвижные
                        li.main-subnav__item
                            a(href="").main-subnav__link
                                span.main-subnav__text Фитнес
                li.main-subnav__item
                    a(href="").main-subnav__link
                        span.main-subnav__text Взрослые
                        +icon('arrowtoright','main-subnav__icon')
                    ul.main-subnav__list
                        li.main-subnav__item
                            a(href="").main-subnav__link
                                span.main-subnav__text Квады
                        li.main-subnav__item
                            a(href="").main-subnav__link
                                span.main-subnav__text Раздвижные
                        li.main-subnav__item
                            a(href="").main-subnav__link
                                span.main-subnav__text Фитнес   