.main-nav__dropdown-wrapper
    .main-nav__dropdown
            ul.catalog-nav__list
                li.catalog-nav__item
                    a(href="category.html").catalog-nav__link
                        span.catalog-nav__text Детские
                        +icon('arrowtoright','catalog-nav__icon')
                    ul.catalog-nav__list
                        li.catalog-nav__item
                            a(href="category.html").catalog-nav__link
                                span.catalog-nav__text Двухколесные
                        li.catalog-nav__item
                            a(href="category.html").catalog-nav__link
                                span.catalog-nav__text Трехколесные
                        li.catalog-nav__item
                            a(href="category.html").catalog-nav__link
                                span.catalog-nav__text С большими колесами
                        li.catalog-nav__item
                            a(href="category.html").catalog-nav__link
                                span.catalog-nav__text С надувными колесами
                li.catalog-nav__item
                    a(href="category.html").catalog-nav__link
                        span.catalog-nav__text Взрослые и подростки
                        +icon('arrowtoright','catalog-nav__icon')
                    ul.catalog-nav__list
                        li.catalog-nav__item
                            a(href="category.html").catalog-nav__link
                                span.catalog-nav__text Двухколесные
                        li.catalog-nav__item
                            a(href="category.html").catalog-nav__link
                                span.catalog-nav__text Трехколесные
                        li.catalog-nav__item
                            a(href="category.html").catalog-nav__link
                                span.catalog-nav__text С большими колесами
                        li.catalog-nav__item
                            a(href="category.html").catalog-nav__link
                                span.catalog-nav__text С надувными колесами       
                li.catalog-nav__item
                    a(href="category.html").catalog-nav__link
                        span.catalog-nav__text Городские
                        +icon('arrowtoright','catalog-nav__icon')
                    ul.catalog-nav__list
                        li.catalog-nav__item
                            a(href="category.html").catalog-nav__link
                                span.catalog-nav__text С большими колесами
                        li.catalog-nav__item
                            a(href="category.html").catalog-nav__link
                                span.catalog-nav__text С надувными колесами
                li.catalog-nav__item
                    a(href="category.html").catalog-nav__link
                        span.catalog-nav__text Внедорожные
                        +icon('arrowtoright','catalog-nav__icon')
                    ul.catalog-nav__list
                        li.catalog-nav__item
                            a(href="category.html").catalog-nav__link
                                span.catalog-nav__text С надувными колесами
