.main-nav__dropdown-wrapper
    .main-nav__dropdown
            ul.main-subnav__list
                li.main-subnav__item
                    a(href="").main-subnav__link
                        span.main-subnav__text Детские
                li.main-subnav__item
                    a(href="").main-subnav__link
                        span.main-subnav__text Большие   
                li.main-subnav__item
                    a(href="").main-subnav__link
                        span.main-subnav__text Складные
                li.main-subnav__item
                    a(href="").main-subnav__link
                        span.main-subnav__text Спортивные