.main-nav__dropdown-wrapper
    .main-nav__dropdown
            ul.main-subnav__list
                li.main-subnav__item
                    a(href="").main-subnav__link
                        span.main-subnav__text Детские
                li.main-subnav__item
                    a(href="").main-subnav__link
                        span.main-subnav__text Круизеры   
                li.main-subnav__item
                    a(href="").main-subnav__link
                        span.main-subnav__text Лонгборды
                li.main-subnav__item
                    a(href="").main-subnav__link
                        span.main-subnav__text Пениборды