.main-nav__dropdown-wrapper
    .main-nav__dropdown
            ul.catalog-nav__list
                li.catalog-nav__item
                    a(href="category.html").catalog-nav__link
                        span.catalog-nav__text Детские
                        +icon('arrowtoright','catalog-nav__icon')
                    ul.catalog-nav__list
                        li.catalog-nav__item
                            a(href="product.html").catalog-nav__link
                                span.catalog-nav__text Квады
                        li.catalog-nav__item
                            a(href="product.html").catalog-nav__link
                                span.catalog-nav__text Раздвижные
                        li.catalog-nav__item
                            a(href="product.html").catalog-nav__link
                                span.catalog-nav__text Фитнес
                li.catalog-nav__item
                    a(href="category.html").catalog-nav__link
                        span.catalog-nav__text Взрослые
                        +icon('arrowtoright','catalog-nav__icon')
                    ul.catalog-nav__list
                        li.catalog-nav__item
                            a(href="product.html").catalog-nav__link
                                span.catalog-nav__text Квады
                        li.catalog-nav__item
                            a(href="product.html").catalog-nav__link
                                span.catalog-nav__text Раздвижные
                        li.catalog-nav__item
                            a(href="product.html").catalog-nav__link
                                span.catalog-nav__text Фитнес   