.main-nav__dropdown-wrapper
    .main-nav__dropdown
            ul.main-subnav__list
                li.main-subnav__item
                    a(href="").main-subnav__link
                        span.main-subnav__text Беговелы 2 в 1
                li.main-subnav__item
                    a(href="").main-subnav__link
                        span.main-subnav__text Беговелы-каталки   
                li.main-subnav__item
                    a(href="").main-subnav__link
                        span.main-subnav__text Беговелы-самокаты
                li.main-subnav__item
                    a(href="").main-subnav__link
                        span.main-subnav__text Спортивные