.main-nav__dropdown-wrapper
    .main-nav__dropdown
            ul.main-subnav__list
                li.main-subnav__item
                    a(href="").main-subnav__link
                        span.main-subnav__text Детские
                        +icon('arrowtoright','main-subnav__icon')
                    ul.main-subnav__list
                        li.main-subnav__item
                            a(href="").main-subnav__link
                                span.main-subnav__text Двухколесные
                        li.main-subnav__item
                            a(href="").main-subnav__link
                                span.main-subnav__text Трехколесные
                        li.main-subnav__item
                            a(href="").main-subnav__link
                                span.main-subnav__text С большими колесами
                        li.main-subnav__item
                            a(href="").main-subnav__link
                                span.main-subnav__text С надувными колесами
                li.main-subnav__item
                    a(href="").main-subnav__link
                        span.main-subnav__text Взрослые и подростки
                        +icon('arrowtoright','main-subnav__icon')
                    ul.main-subnav__list
                        li.main-subnav__item
                            a(href="").main-subnav__link
                                span.main-subnav__text Двухколесные
                        li.main-subnav__item
                            a(href="").main-subnav__link
                                span.main-subnav__text Трехколесные
                        li.main-subnav__item
                            a(href="").main-subnav__link
                                span.main-subnav__text С большими колесами
                        li.main-subnav__item
                            a(href="").main-subnav__link
                                span.main-subnav__text С надувными колесами       
                li.main-subnav__item
                    a(href="").main-subnav__link
                        span.main-subnav__text Городские
                        +icon('arrowtoright','main-subnav__icon')
                    ul.main-subnav__list
                        li.main-subnav__item
                            a(href="").main-subnav__link
                                span.main-subnav__text С большими колесами
                        li.main-subnav__item
                            a(href="").main-subnav__link
                                span.main-subnav__text С надувными колесами
                li.main-subnav__item
                    a(href="").main-subnav__link
                        span.main-subnav__text Внедорожные
                        +icon('arrowtoright','main-subnav__icon')
                    ul.main-subnav__list
                        li.main-subnav__item
                            a(href="").main-subnav__link
                                span.main-subnav__text С надувными колесами
