.btn {
    background-color: $white;
    border: 1px solid $blaze-orange;
    border-radius: 4px;
    color: $blaze-orange;
    cursor: pointer;
    display: block;
    line-height: 38px;
    font-weight: 600;
    height: 40px;
    text-align: center;
    padding: 0 20px;
    transition: all linear .3s;
    white-space: nowrap;
    width: 100%;
    &:hover {
        background-color: $blaze-orange;
        color: $white;
    }
    &.btn {
        &--transparent {
            &-white {
                border-color: $white;
                background-color: transparent;
                color: $white;
                &:hover {
                    background-color: $white;
                    color: $tundora;
                }
            }
            &-gray {
                border-color: rgba(38, 38, 38, 0.15);
                background-color: transparent;
                color: $oslo-gray;
                &:hover {
                    background-color: rgba(38, 38, 38, 0.15);
                    color: $white;
                }
            }
        }
        &--round {
            border-radius: 20px;
        }
        &--inline {
            display: inline-block;
            width: auto;
            white-space: nowrap;
        }
        &--small {
            height: 30px;
            line-height: 28px;
            padding: 0 15px;
        }
        &--big {
            line-height: 48px;
            height: 50px;
        }
        &--bg {
            &-orange {
                color: $white;
                background-color: $blaze-orange;
                &:hover {
                    background-color: $white;
                    color: $blaze-orange;
                }
            }
        }
        &--contour {
            &-gray {
                border: 2px solid $alto;
                color: $tundora;
                line-height: 36px;
                &:hover {
                    background-color: $alto;
                    color: $white;
                }
            }
        }
        &--pos {
            &-right {
                margin-left: auto;
                margin-right: 0;
            }
        }
    }
}