.header {
    &__mobile {
        display: none;
        position: relative;
        margin-bottom: 20px;
        @media screen and (max-width: $tablet) {
            display: block;
        }
        .container {
            display: flex;
            justify-content: space-between;
            & > * {
                flex: 0 0 48%;
                width: 48%;
            }
        }
    }
}