.product-detals.tabs
    .mobile-scroll-wrapper
        .mobile-scroll-inner
            ul.tabs-navigation.product-detals-navigation
                li(show-tab="tab-description").product-detals-navigation__item.tabs-navigation__item.tabs-navigation__item--active Описание
                li(show-tab="tab-characteristics").product-detals-navigation__item.tabs-navigation__item Характеристики
                li(show-tab="tab-reviews").product-detals-navigation__item.tabs-navigation__item
                    span Отзывы
                    span.product-detals-navigation__count 3 
                li.product-detals-navigation__item.tabs-navigation__item
                    a(href="#1-sam-goods").scroll-link Похожие товары
    .tabs__body.product-detals__body
        .tab.tab--active.tab-description
            include detals/tab1
        .tab.tab-characteristics
            include detals/tab2
        .tab.tab-reviews
            include detals/tab3