section.s-slider#1-sam-goods
    .container
        .products-border-line-slider
            .products-border-line-slider__header
                h2.title-section Похожие товары
                .products-border-line-slider__navigation
                    .products-border-line-slider__btn.products-border-line-slider__btn--prev
                        +icon('arrowtoleft','products-border-line-slider__icon')
                    .products-border-line-slider__btn.products-border-line-slider__btn--next
                        +icon('arrowtoright','products-border-line-slider__icon')
            .products-border-line-slider__body
                .js-products-border-line-slider
                    include ../../modules/products/prev1
                    include ../../modules/products/prev2
                    include ../../modules/products/prev3
                    include ../../modules/products/prev4
                    include ../../modules/products/prev1
                    include ../../modules/products/prev2
                    include ../../modules/products/prev3
                    include ../../modules/products/prev4