.cart-nav
    a(href="category.html").cart-nav__link
        +icon('arrowtoleft','cart-nav__icon')
        span.cart-nav__text Вернуться к покупкам
    a(href="category.html").cart-nav__link
        span.cart-nav__text Оформить заказ
        +icon('arrowtoright','cart-nav__icon')