section.s-content
                .container
                    .content-block
                        h3.title-block Беговелы для детей
                        p.text Интернет-магазин Baby-Toys.ru предлагает купить детские беговелы по цене от ⭐ 3 900 руб до ⭐ 20 500 руб. Вариантов в наличии — 138 шт.
                        p.text Шаговел – это детский велосипед без педалей. Передвигаться на нём можно, отталкиваясь ногами. Это прекрасный вариант для развития ребёнка, который позволит ему укрепить мышцы ног, научиться удерживать равновесие и маневрировать.
                        p.text Велобег оснащён:
                            ul
                                li прочной металлической рамой;
                                li велосипедными колёсами;
                                li мягкими нескользящими ручками;
                                li удобными сиденьем.
                                li Беговелы рассчитаны на детей в возрасте от 2 до 5 лет.