section.s-category-slider
        .container
            .category-slider
                .category-slider__header
                    .category-slider__title Официальные дилеры Micro, PUKY, Hudora, Globber
                .category-slider__body
                    .js-category-slider
                        .category-slider__item
                            +icon('tag','category-slider__icon')
                            span.category-slider__text Найдете дешевле - мы сделаем скидку
                        .category-slider__item
                            +icon('fast-delivery','category-slider__icon')
                            span.category-slider__text Доставка по Москве день в день, на следующий день, через день
                        .category-slider__item
                            +icon('recommended','category-slider__icon')
                            span.category-slider__text Расширенная европейская гарантия от производителя
                        .category-slider__item
                            +icon('medal','category-slider__icon')
                            span.category-slider__text Офицальный сервисный центр
                        .category-slider__item
                            +icon('customer-service','category-slider__icon')
                            span.category-slider__text Профессиональная консультация от продавцов
                        .category-slider__item
                            +icon('map','category-slider__icon')
                            span.category-slider__text Доставка по всей России
                .category-slider__dots